@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <p class="lead">
        .NET próbafeladat
    </p>
    <p>
        Mission: Üzenetküldő és –fogadó rendszer.<br>
        Userek regisztráció után egy másik usernek üzenetet tudnak küldeni. Egy nap max. 5 üzenetet küldhetnek ki. Üzenetek, userek DB-ben tárolódnak.<br>
        Regisztrációnál minimum: usernév, jelszó (minimum 6 karakter, kis/nagybetű, szám), teljes név, email cím (ezek kötelezőek), telefonszám (nem kötelező)
    </p>
        Feature-ök:
        <ul>
            <li>
                Regisztráció
            </li>
            <li>
                Üzenetlista: a felhasználó saját üzeneteit tudja megnézni itt.
            </li>
            <li>
                Userlista: regisztrált userek, user nevére kattintva lehet neki üzenetet küldeni
            </li>
            <li>
                User elrejtheti magát a listából
            </li>
            <li>
                Üzenet olvasottnak, olvasatlannak jelölése
            </li>

        </ul>
        Extra:
        <ul>
            <li> User engedélyezheti / letilthatja, hogy egy másik user üzenetet küldjön neki</li>
            <li>
                Megerősítő email
            </li>
            <li>
                Kedvencek listája
            </li>
        </ul>
       


</div>
